---
permalink: /about
title: Our vision
---

<section>
    {% include featured_items.html vals=site.data.about.vision %}
</section>

<hr>

<section>
    <h1>Our mission</h1>
    {% include featured_items.html vals=site.data.about.mission %}
</section>

<hr>

<section>
    <h1>Roadmap</h1>

    {% include timeline.html vals=site.data.about.timeline %}
</section>

<hr>

<section>
    <h1>Our <i class="far fa-lightbulb" title="lightbulb"></i> moment</h1>

    <h2>Why are there so many layers of memory management in modern systems?</h2>

    <p>We realised the uppermost layer could be brought down into the processor hardware. After over three years of research into architecture, performance optimisations and correctness proofs, we've refined and prototyped our technology. We're now working full-time on commercialising it.
    </p>

    <p>Our discovery is not only how to place this memory management into hardware, but also how to enforce memory
    safety across the whole system. This brings a step change in system design, particularly for embedded and IoT devices.
    </p>

    <p>BeyondRISC spun out of the University of Bristol in July 2019, founded by Ed Nutting, Andres Amaya Garcia and Professor David May.</p>

    <a href="/team" class="button">Our team</a>
</section>
