---
title: Performance
permalink: /performance
---

<h1>Performance</h1>

<p>
TODO: Background info
{% comment %}
Hard-real-time
Speed
Energy efficiency
Comparison to statically allocated systems
Comparison to dynamically allocated C/C++ systems
Comparison to MicroPython and similar modern language systems
{% endcomment %}
</p>

<p>
TODO: Tech explanation
</p>

<h1>For you</h1>

{% include featured_items.html vals=site.data.performance.people %}

<h1>What do you work with</h1>

{% include featured_items.html vals=site.data.performance.how %}
