---
title: Productivity
permalink: /productivity
---

<h1>Productivity</h1>

<p>
TODO: Background info
{% comment %}
Modern languages
Packages / open source / code availability
Tools: Editing, testing, running
Simplicity
Maintainability
Growth
University teaching practices
{% endcomment %}
</p>

<p>
TODO: Tech explanation
</p>

<h1>For you</h1>

{% include featured_items.html vals=site.data.productivity.people %}

<h1>What do you work with</h1>

{% include featured_items.html vals=site.data.productivity.how %}
