---
title: Our technology
permalink: /tech
---

{% include featured_items.html vals=site.data.tech.section1 %}

<h1>For you</h1>

{% include featured_items.html vals=site.data.tech.section2 %}

<h1>How it works</h1>

{% include featured_items.html vals=site.data.tech.section3 %}

<!--
## Security built-in and enforced

Today's internet of things devices are wildly insecure and untrustworthy. We're not just worried about hackers -
people need to be able to rely on their devices to keep working, even in new environments.
-->

<!--
3 streams about what we can deliver:

1. Security
2. Productivity
3. Performance (/Energy)


1. Security
-----------
WhatsApp bug
'Buffer overflows'
iOS / Safari bugs
C/C++ - up to 70% from memory safety issues + Microsoft reference
CVE/CWE classifications

Comparison to scale of other security problems in terms of frequency and difficulty



2. Productivity
---------------
Modern languages
Packages / open source / code availability
Tools: Editing, testing, running
Simplicity
Maintainability
Growth 
University teaching practices



3. Performance
--------------
Hard-real-time
Speed
Energy efficiency
Comparison to statically allocated systems
Comparison to dynamically allocated C/C++ systems
Comparison to MicroPython and similar modern language systems

------

Then the section on how we do it - very high level ideas:

Hardware GC

------
Summary in terms of a capabilities trade-off table? Red/Yellow/Green
-->

<!-- 
## BeyondRISC is the only platform in the world capable of safely and efficiently supporting modern languages in IoT devices.

Est cupidatat dolor dolore irure anim ex eiusmod. Anim laboris cupidatat elit irure eiusmod. Tempor mollit deserunt adipisicing ex. Amet magna sunt velit labore excepteur commodo. Deserunt enim irure officia non.

![](https://picsum.photos/800/600)
-->