$beyondrisc-light-red: hsl(1, 86%, 69%);
$beyondrisc-light-blue: hsl(191, 100%, 90%);
$dark-grey: hsl(209, 11%, 37%);
$light-blue-gray: hsl(218, 41%, 74%);

$link-colour: $dark-grey;

body {
    background-image: url('/assets/background-page.png');
    background-size: cover;
    background-repeat: no-repeat;

    &.theme-home {
        background-image: url('/assets/background-home.png');
    }
}