{% if include.val.hover %}
<div class="featured-item hoverable">
{% else %}
<div class="featured-item">
{% endif %}

    <i class="fas {{ include.val.icon }}" aria-hidden="hidden"></i>
    <h2>{{ include.val.title }}</h2>
    {% if include.val.text %}
        <p>{{ include.val.text }}</p>
    {% endif %}

    {% if include.val.buttons %}
        {% for button in include.val.buttons %}
            <a class="button" href="{{ button.url }}">{{ button.text }}</a>
        {% endfor %}
    {% endif %}
    
    {% if include.val.hover %}
    <div class="hover-instruction" aria-hidden="hidden">
        More info <i class="fas fa-hand-pointer" aria-hidden="hidden"></i>
    </div>

    <div class="hidden">
        <p>{{ include.val.hover.text }}</p>
        <a class="button" href="{{ include.val.hover.button.url }}">{{ include.val.hover.button.text }}</a>
    </div>
    {% endif %}

</div>