{% comment %}
    Data item format example:
        - icon: [Required] fa-handshake
          title: [Required] Devices people can trust
          text: [Optional] We see a world in which people can buy a device for their home, factory or airplane and trust that it will work - now and in the future.
          buttons: [Optional]
            - url: /anUrl1
              text: Some button text 1
            - url: /anUrl2
              text: Some button text 2
          hover: [Optional]
            text: This means eliminating issues in security, reliability and robustness, such as 'buffer overflows', which cause 70% of C++ problems annually.
            buttons: [Optional]
                - url: /tech#security
                  text: Show me how
{% endcomment %}

{% if include.val.hover %}
<div class="featured-item hoverable">
{% else %}
<div class="featured-item">
{% endif %}

    <i class="fas {{ include.val.icon }}" aria-hidden="hidden"></i>
    <h2>{{ include.val.title }}</h2>
    {% if include.val.text %}
        <p>{{ include.val.text }}</p>
    {% endif %}

    {% if include.val.buttons %}
        {% for button in include.val.buttons %}
            <a class="button" href="{{ button.url }}">{{ button.text }}</a>
        {% endfor %}
    {% endif %}
    
    {% if include.val.hover %}
        <div class="hover-instruction" aria-hidden="hidden">
            More info <i class="fas fa-hand-pointer" aria-hidden="hidden"></i>
        </div>

        <div class="hidden">
            <p>{{ include.val.hover.text }}</p>
            
            {% if include.val.hover.buttons %}
                {% for button in include.val.hover.buttons %}
                    <a class="button" href="{{ button.url }}">{{ button.text }}</a>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
</div>