
<footer class="page-footer">
    <nav class="footer-nav">
        <section class="footer-nav__submenu">
            <h2><a href="/">BeyondRISC</a></h2>
            <ul>
                {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </section>
        <section class="footer-nav__submenu">
            <h2><a href="/blog">Recent News</a></h2>
            <table class="footer-nav__blog">
                {% for post in site.posts limit:3 %}
                <tr>
                    <td class="date"><a href="{{ post.url }}">{{ post.date | date: '%b %e' }}</a></td>
                    <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                <tr>
                {% endfor %}
            </table>
        </section>
    </nav>

    <div class="footer-info">        
        <div class="footer-info__copyright">
            © Copyright {{ site.time | date: '%Y' }} 
            <a href="https://beta.companieshouse.gov.uk/company/12099141">BeyondRISC Limited</a>
        </div>
    </div>
</footer>
