$font-colour-light: #fcfcfc;
$font-colour-dark: #333;

$link-font-colour-light: $font-colour-light;
$link-font-colour-dark: $font-colour-dark;
$link-font-colour-current-light: #eb0;
$link-font-colour-current-dark: #a90;

$background-colour-dark: #333;
$background-colour-light: #fcfcfc;

$background-colour-red: #d03030;
$background-colour-orange: #f08030;
$background-colour-yellow: #eded50;
$background-colour-green: #50aa50;
$background-colour-blue: #3254aa;
$background-colour-indigo: #4B3082;
$background-colour-violet: #7420a3;

$border-colour-dark: #333;
$border-colour-light: #fcfcfc;

body {
    padding: 0;
    margin: 0;

    font-family: 'Courier New', Courier, monospace;

    background-color: $background-colour-dark;
    color: $font-colour-light;

    text-align: center;
}

a, a:visited, a:active {
    color: inherit;
}

nav, header, section, footer, .error-container {
    padding: 1em;
    margin: 0;
    text-align: center;

    background-color: $background-colour-light;
    color: $font-colour-dark;
}

body > * > .container {
    display: inline-block;
    max-width: 1400px;
    width: 100%;
}

body > *.center > .container {
    text-align: center;
}

nav {
    min-height: 1em;
    text-align: center;

    background-color: $background-colour-dark;
    color: $font-colour-light;

    a {
        text-decoration: none;
    }
    
    a.current {
        color: $link-font-colour-current-light;
    }
}

header {
    min-height: 10em;

    text-align: center;
}

section {
    min-height: 10em;

    &.thin {
        min-height: 1em;
    }

    &.small {
        font-size: 0.7rem;
        min-height: 1em;
        padding: 1em;

        p {
            margin: 0;
            padding: 0;
        }
    }

    &.dark {
        background-color: $background-colour-dark;
        color: $font-colour-light;
    }
    
    &.light {
        background-color: $background-colour-light;
        color: $font-colour-dark;
    }

    &.red {
        background-color: $background-colour-red;
        color: $font-colour-light;
    }
    
    &.orange {
        background-color: $background-colour-orange;
        color: $font-colour-light;
    }
    
    &.yellow {
        background-color: $background-colour-yellow;
        color: $font-colour-dark;
    }
    
    &.green {
        background-color: $background-colour-green;
        color: $font-colour-light;
    }
    
    &.blue {
        background-color: $background-colour-blue;
        color: $font-colour-light;
    }

    &.indigo {
        background-color: $background-colour-indigo;
        color: $font-colour-light;
    }

    &.violet {
        background-color: $background-colour-violet;
        color: $font-colour-light;
    }

    & > .container {
        text-align: left;
    }

    &:nth-child(odd) > .container > h1 {
        text-align: right;
    }

    &:nth-child(even) > .container > h1 {
        text-align: left;
    }
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;

    .box {
        text-align: center;

        min-width: 200px;
        min-height: 6em;
        padding: 0.5em;

        flex-grow: 1;
        flex-basis: 30%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        &.dark {
            background-color: $background-colour-dark;
            color: $font-colour-light;
        }
        
        &.light {
            background-color: $background-colour-light;
            color: $font-colour-dark;
        }

        &.red {
            background-color: $background-colour-red;
            color: $font-colour-light;
        }
        
        &.orange {
            background-color: $background-colour-orange;
            color: $font-colour-light;
        }
        
        &.yellow {
            background-color: $background-colour-yellow;
            color: $font-colour-dark;
        }
        
        &.green {
            background-color: $background-colour-green;
            color: $font-colour-light;
        }
        
        &.blue {
            background-color: $background-colour-blue;
            color: $font-colour-light;
        }

        &.indigo {
            background-color: $background-colour-indigo;
            color: $font-colour-light;
        }

        &.violet {
            background-color: $background-colour-violet;
            color: $font-colour-light;
        }
    }
}

footer {
    background-color: $background-colour-dark;
    color: $font-colour-light;

    font-size: 0.7rem;
    min-height: 1em;
    padding: 0.2em;
}

table {
    text-align: left;
    border-collapse: collapse;

    th, td {
        padding: 0.6em;
        border-left: 1px solid $border-colour-dark;
    }

    th {
        border-bottom: 1px solid $border-colour-dark;
    }

    th:nth-child(1), td:nth-child(1) {
        border-left: none;
        border-right: 1px solid $border-colour-dark;
    }

    tr {
        border-bottom: 1px solid $border-colour-dark;
    }

    tr:nth-last-child(1) {
        border-bottom: none;
    }
}

.highlight {
    border-radius: 10px;
    border: 2px solid #001020;

    margin: 0;

    & > pre {
        tab-size: 4;
        -moz-tab-size: 4;
        line-height: 1.5em;
        font-size: 1rem;
        padding: 1em;
        margin: 0;
        
        overflow: auto;
    }
}

code {
    font-size: 1rem;
    font-style: italic;
}

.error-container {
    text-align: center;
    
    h1 {
        margin: 30px 0;
        font-size: 4em;
        line-height: 1;
        letter-spacing: -1px;
    }
}

@media screen and (min-width: 1025px) {
    html {
        font-size: 1.3em;
    }
    
    section {
        & > .container {
            text-align: justify;
        }
    }
}
