.home-hero {
    text-align: left;
    
    @include column-width;

    @include respond-to('large') {
        margin-top: 5rem;
    }

    .home-hero__bordered {
        position: relative;
        margin-bottom: 1rem;
    }

    .home-hero__bordered:before {
        content: "";
        position: absolute;
        width: 0.5rem;
        height: 100%;
        top: 0;
        left: -2rem;
        background-color: $secondary-colour;
    }

    h1 {
        color: $primary-colour;
        font-family: $headline-font;
        font-weight: 700;
        text-transform: lowercase;
        margin-left: 0;
    }

    p {
        font-family: $text-font;
        font-weight: 300;
        font-size: 1.2rem;
    }
}