@import '../layout/grid';

.main-logo {
    grid-column: col-start 1 / span 12 !important;
}

.home-hero {
    text-align: center;

    margin-top: 5vw;
    
    @include column-width;

    .home-hero__bordered {
        position: relative;
        margin-bottom: 1rem;
    }

    /*.home-hero__bordered:before {
        content: "";
        position: absolute;
        width: 0.5rem;
        height: 100%;
        top: 0;
        left: -2rem;
        background-color: $secondary-colour;
    }*/

    h1 {
        color: $primary-colour;
        font-family: $headline-font;
        font-weight: 700;
        text-transform: lowercase;
        font-size: 2rem;
        margin-left: 0;
        text-align: center;
    }

    p {
        font-family: $text-font;
        font-weight: 200;
        font-size: 1.2rem;
    }
}

.home-featured-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10rem;

    &__item {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;

        @include respond-to('large') {
            width: percentage(1/6);
            padding-left: 2%;
            padding-right: 2%;
        }

        img {
            width: 80%;
        }

        h3 {
            font-size: 0.8rem;
            margin-top: 1rem;
            text-align: center;
        }

        .button {
            font-size: 1rem;
            margin-top: 0;
            padding: 0.8rem;
            width: 80%;
        }

        &:last-child {
            @include respond-to('large') {
                width: percentage(2/3);
            }

            align-self: center;
        }
    }
}

.footer-nav {
    display: none;
}

.footer-info {
    text-align: center;
}