.blog-post-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    flex: 1 1 auto;
    max-width: $column-width;
    min-width: 0;
    width: 40%;

    margin: 1rem;

    &__image {
        flex: 1 1 auto;
        min-width: 0;
        max-width: 100%;

        padding: 1rem;
        margin-bottom: 1rem;
    }

    &__content {
        flex: 1 1 auto;
        min-width: 0;

        padding: 1rem;
    }
}