.blog-post-featured {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 84rem;
    margin: 0 auto;

    &__image {
        flex: 1 1 auto;
        max-width: 40rem;
        min-width: 0;

        padding: 1rem;
        margin: 1rem;
    }

    &__content {
        flex: 1 1 auto;
        max-width: 40rem;
        min-width: 0;

        padding: 1rem;
        margin: 1rem;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -2rem;
        height: 100%;
        width: 1rem;
        background-color: $secondary-colour;
    }
}