.blog-post-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    flex: 1 1 auto;

    padding: 1rem 4%;

    border-top: 1px solid $text-colour;

    &:nth-child(odd) {
        border-right: 1px solid $text-colour;
    }

    &__image {
        flex: 1 1 auto;
        min-width: 0;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    &__content {
        flex: 1 1 auto;
        min-width: 0;

        & > *:first-child {
            margin-top: 0;
        }
    }
}