.blog-post-featured {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    margin-top: 2rem;
    margin-bottom: 0.5rem;

    &__image {
        flex: 1 1 auto;

        @include two-column-width;
    }

    &__content {
        flex: 1 1 auto;

        @include two-column-width;
        position: relative;
        
        & > *:first-child {
            margin-top: 0;
        }
    }
}
