.button {
    color: black;
    background-color: $primary-colour;
    font-size: 1.2rem;
    font-family: 'Inter';
    font-weight: 400;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    display: inline-block;
}

a:hover.button {
    text-decoration: none;
    background: $secondary-colour;
    color: white;
}