.button {
    color: $primary-colour-contrast;
    background-color: $primary-colour;
    font-size: 1.2rem;
    font-family: $text-font;
    font-weight: 400;
    padding: 1rem;
    @include link-animation;
    display: inline-block;
}

a:visited.button {
    color: $primary-colour-contrast;
}

a:hover.button {
    text-decoration: none;
    background: $secondary-colour;
    color: $secondary-colour-contrast;
}