.content-block {
    display: flex;
    flex-direction: column;
    align-items: left;

    width: $column-width;
    max-width: 95vw;
    margin: 0 auto;

    @include respond-to('large') {
        margin-left: 20vw;
    }

    & > * {
        margin: 0.5rem 0;
    }
}