$featured-item-background-colour: #fcfcfc;
$featured-item-text-colour: #333;

$featured-item-padding: 3%;

.featured-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & > .featured-item {
        margin-bottom: 1rem;

        width: auto;
        flex: 1 0 100%;
        margin: 2%;
        padding: $featured-item-padding;
        
        @include respond-to('medium') {
            flex: 1 1 0;
        }

        cursor: pointer;

        position: relative;
        text-align: center;

        box-shadow: 0px 0px 15px 0px rgba(#222, 0.7),
                    inset 0px 0px 5px 0px rgba(#333, 0.4);

        & h2, & h3 {
            text-align: center;
        }

        & p {
            text-align: left;
        }

        & > * {
            transition: 0.3s opacity ease-in-out;
            opacity: 1;
        }

        & > i {
            font-size: 3rem;
            margin-top: 0.7rem;
            margin-bottom: 0.7rem;
        }

        @media(hover: hover) {
            &.hoverable:hover > *, 
            &.hoverable:focus-within > * {
                opacity: 0;
            }
            
            &.hoverable > *.hidden {
                position: absolute;
                top: 2 * $featured-item-padding;
                left: 2 * $featured-item-padding;
                width: 100% - (4 * $featured-item-padding);
                height: 100% - (4 * $featured-item-padding);
                margin: 0;
                padding: 0;

                opacity: 0;
                display: flex;

                flex-direction: column;
                align-content: center;
                justify-content: center;
            }
            
            &.hoverable:hover > *.hidden, 
            &.hoverable:focus-within > *.hidden {
                opacity: 1;
            }
        }
    }
}