.footer-nav {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    font-family: $text-font;

    padding-bottom: 1rem;
    margin-left: -3rem;

    @include respond-to('large') {
        margin-left: 0;
    }

    h2 {
        font-family: $text-font;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 0.4rem;
    }

    a:hover {
        color: $primary-colour-light;
        text-decoration: none;
    }
}

.footer-nav__submenu {
    margin-left: 4rem;
}

.footer-nav__submenu ul {
    list-style-type: none;
    padding: 0;
    column-count: 2;
}

.footer-nav__blog {
    td {
        padding-right: 0.5rem;

        &.date > a {
            color: $primary-colour-light;
        }
    }
}
