$footer-text-colour: $primary-colour-light;
$footer-date-colour: $primary-colour-light;
$footer-link-colour: $neutral-colour;
$footer-header-colour: $neutral-colour;
$footer-background: $neutral-colour-light;

.footer-nav {
    background-color: $footer-background;
    color: $footer-text-colour;
    font-size: 1.2rem;

    h2 {
        color: $footer-header-colour;
        font-family: $text-font;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 2rem;
    }

    a {
        color: $footer-link-colour;
    }
}

.footer-nav__submenu {
    margin-left: 4rem;
}

.footer-nav__submenu ul {
    list-style-type: none;
    padding: 0;

    column-count: 2;
}

.footer-nav__blog {
    td {
        padding-right: 0.5rem;

        &.date > a {
            color: $footer-date-colour;
        }
    }
}
