.footer-info__logo {
    background-color: hsl(0, 0%, 100%);
    padding: 0.5rem 1rem;
}

.footer-info__copyright {
    background-color: $primary-colour;
    color: tint($primary-colour, 80);
    padding: 0.5rem 1rem;

    a {
        color: inherit;
    }
}
