$footer-text-colour: $light-blue-gray;
$footer-link-colour: $dark-grey;
$footer-header-colour: $dark-grey;

.footer-nav {
    background-color: hsl(0, 0%, 93%);
    color: $footer-text-colour;
    font-size: 1.2rem;

    h2 {
        color: $footer-header-colour;
        font-family: $text-font;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 2rem;
    }

    a {
        color: $footer-link-colour;
    }
}

.footer-nav__submenu {
    margin-left: 4rem;
}

.footer-nav__submenu ul {
    list-style-type: none;
    padding: 0;
}