.main-logo {
    display: flex;
    justify-content: center;

    a {
        display: block;
        flex-basis: content;
        margin: 2rem 0 0rem 0;

        @include respond-to('large') {
            margin: 2rem 0;
        }
    }

    img {
        max-height: 2rem;
    }

    @media print {
        background-color: black;
    }
}