.main-menu {
    padding-top: 2rem;
    text-align: right;
}

.main-menu ul {
    list-style-type: none;
    margin-right: 2rem;
    padding: 0;
}

.main-menu li {
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem 0;
}