@import '../abstracts/functions';

.main-menu {
    display: flex;
}

.main-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 1rem 0 1rem;
    padding-left: 0;
    width: 100%;
}

.main-menu li {
    font-family: $text-font;
    font-size: 0.9rem;
    margin: 0.3rem 1rem;

    a {
        color: $text-colour;
        @include link-animation
    }

    a:hover {
        color: $primary-colour-light;
        text-decoration: none;
    }
}
