.timeline {
    display: flex;
    flex-direction: column;
    align-items: unset;
    position: relative;

    margin: 1rem auto;

    &:after {
        z-index: 1;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        border-left: $secondary-colour;
        border-left: 1px solid $secondary-colour;
    }

    
    .timeline-item {
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;

        .timeline-item__time {
            font-size: 1.2rem;
        }
    }

    @mixin timeline-item-marker {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-color: $primary-colour;
        box-shadow: 0px 0px 8px 8px $secondary-colour;
        border-radius: 10px;
        top: 50%;
        z-index: 2;
    }

    .timeline-item:nth-of-type(odd) {
        align-self: flex-start;
        position: relative;
        
        &:after {
            @include timeline-item-marker;
            right: -5px;
        }
    }

    .timeline-item:nth-of-type(even) {
        align-self: flex-end;
        position: relative;
        
        &:after {
            @include timeline-item-marker;
            left: -5px;
        }
    }
}