<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/assets/css/styles.css">
        {% feed_meta %}
        {% seo %}
    </head>
    <body>
        <div class="page-grid">
            <div class="main-logo">
                <a href="#">
                    <img src="/assets/logo.png" />
                </a>
            </div>
            {% include navigation.html %}
            <section class="page-content">
                {{ content }}
            </section>
            <footer class="page-footer">
                <nav class="footer-nav">
                    <section class="footer-nav__submenu">
                        <h2>About</h2>
                        <ul>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </section>
                    <section class="footer-nav__submenu">
                        <h2>Blog</h2>
                        <ul>
                            <li><a href="#">What is BeyondRISC?</a></li>
                            <li><a href="#">Hello, world!</a></li>
                        </ul>
                    </section>
                </nav>
                
                <div class="footer-info">
                    <a class="footer-info__logo">
                        <img src="/assets/logo.png" />
                    </a>
                    <div class="footer-info__copyright">© Copyright 2019 BeyondRisc</div>
                </div>
            </footer>
        </div>
    </body>
</html>
