@import '../abstracts/functions';

.blog-posts {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
}

.blog-posts > .blog-post-summary:first-of-type {
    grid-column: 1 / span 2;
}

.blog-posts > .blog-post-summary {
    grid-column: 1 / span 2;

    @include respond-to('large') {
        grid-column: span 1;
    }
}