@import '../theme/theme';
@import '../abstracts/functions';

$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);

html {
    height: 100%;
}

body {
    height: 100%;
    min-width: 320px;
}

.page-grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: auto auto 1fr auto;
    grid-gap: 1.5rem;
    min-height: 100vh;
}

.main-logo {
    grid-row: 2;
    grid-column: col-start 1 / span 12;
}

.main-menu {
    grid-column: col-start 1 / span 12;
    grid-row: 1;
}

.page-content {
    grid-column: col-start 1 / span 12;
    grid-row: 3;
}

.page-footer {
    grid-row: 4;
    grid-column: col-start 1 / span 12;
    
    @include respond-to('large') {
        display: grid;
        grid-template-columns: 9fr 3fr;
        grid-gap: 20px;
        grid-template-areas: "nav info";
    }
}

.footer-nav {
    grid-area: nav;
}

.footer-info {
    grid-area: info;
}
