/* josefin-sans-regular - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'),
            url('../fonts/josefin-sans-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/josefin-sans-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  
/* josefin-sans-700 - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
            url('../fonts/josefin-sans-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/josefin-sans-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* PublicSans-Regular */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Public Sans Regular'), local('PublicSans-Regular'),
            url('../fonts/PublicSans-Regular.woff2') format('woff2'),
            url('../fonts/PublicSans-Regular.woff') format('woff');
}
/* PublicSans-Italic */
@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Public Sans Italic'), local('PublicSans-Italic'),
            url('../fonts/PublicSans-Italic.woff2') format('woff2'),
            url('../fonts/PublicSans-Italic.woff') format('woff');
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
            url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'),
            url('../fonts/roboto-v20-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/roboto-v20-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
            url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$headline-font: 'Work Sans';
$secondary-font: 'Public Sans';
$text-font: 'Roboto';

body {
    font-family: $text-font;
}

h1 {
    font-family: $headline-font;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: left;
    text-transform: lowercase;
    color: $primary-colour;
}

h2 {
    font-family: $headline-font;
    font-weight: bold;
    font-size: 3rem;
    text-align: left;
}

p {
    margin: 1rem 0;
}