$headline-font: 'Work Sans';
$text-font: 'Inter';

html {
    font-size: 18px;

    @include respond-to('large') {
        font-size: 22px;
    }
}

body {
    font-family: $text-font;
    font-weight: 300;
}

h1 {
    font-family: $headline-font;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
    color: $primary-colour;

    @include respond-to('medium') {
        font-size: 3rem;
    }
}

h2 {
    font-family: $headline-font;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0rem;

    @include respond-to('medium') {
        font-size: 1.6rem;
    }
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: left;

    @include respond-to('medium') {
        font-size: 1.2rem;
    }
}

h4 {
    font-weight: 400;
    font-size: 1.1rem;
    text-align: left;

    @include respond-to('medium') {
        font-size: 1rem;
    }
}

p {
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
}