$headline-font: 'Work Sans';
$text-font: 'Inter';

body {
    font-family: $text-font;
    font-weight: 400;
}

h1 {
    font-family: $headline-font;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: left;
    color: $primary-colour;
}

h2 {
    font-family: $headline-font;
    font-weight: bold;
    font-size: 3rem;
    text-align: left;
}

p {
    margin: 1rem 0;
}